GOOGLE_API_KEY=AIzaSyBS0CAuIlM01f21HJJMe9s1lcxGECMs1FA
GOOGLE_GENAI_USE_VERTEXAI=false
TESTUSER1_ZOHO_MCP=https://course-advisor-agent-project-902810301.zohomcp.com/mcp/message?key=3f0cf7a431fdc96a5a24bb002a7d4897
FIA_AXCELERATE_MCP=https://fia-axcelerate-mcp-905053609184.us-central1.run.app/mcp